.container {
  text-align: center;
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 26, 26);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(3, 58, 58);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.brand{
  font-family: segoe print;
  font-size: 30px;
  margin-top: 0.5px;
  margin-left: 1px;
  margin-bottom: 5px;
}

.logo{
  margin-top: 10px;
  border: transparent;
  background: url('./images//logo.png') no-repeat rgb(0, 26, 26);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
}

.card {
  margin-left: 70px;
  cursor: pointer;
  background-color: transparent;
  height: 350px;
  width: 230px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card-back {
  background-color: #333;
  color: white;
  padding: 15px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.cardheader{
  color: rgb(158, 190, 187);
  padding: 10px;
  margin: 20px;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 35px;
  background-color: rgb(5, 58, 58);
  
}

@media (max-width: 300px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.postImage{
  height: 350px;
  width: 250px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.post{
  margin:20px;
}



.name{
  font-family: berlin sans fb;
  font-size: 25px;
  color: #8a3324;
}

.author{
  font-family: berlin sans fb;
  font-size: 20px;

}

.vl2{
  border-left: 1px solid rgb(97, 99, 97);
  height: 270px;
  margin-top: 55px;
}

.condition{
  font-family: book antiqua;
  font-size: 18px;
  color: #25df1e;
}

.price{
  font-size: 50px;
  color: rgb(228, 7, 7);
}